body {
    background: url("bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.zoom {
    zoom: 0.9;
}

.smoothfade {
    -webkit-transition: box-shadow 0.25s ease-out;
    -moz-transition: box-shadow 0.25s ease-out;
    -ms-transition: box-shadow 0.25s ease-out;
    -o-transition: box-shadow 0.25s ease-out;
    transition: box-shadow 0.25s ease-out;

    -webkit-transition: background-color 0.25s ease-in time;
    -moz-transition: background-color 0.25s ease-in time;
    -ms-transition: background-color 0.25s ease-in time;
    -o-transition: background-color 0.25s ease-in time;
    transition: background-color 0.25s ease-in time;
}

#board {
    border-color: #3f33e9;
    border-style: solid;
    border-width: 0px 10px 10px 10px;

    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: fit-content;
    animation: expand 0.3s ease-in;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.row {
    display: flex;
}

.tile {
    border-right: 1px solid black;
    box-sizing: border-box;
    min-height: 75px;
    min-width: 75px;
    max-width: 75px;
    max-height: 75px;
    /* background-color: darkblue; */
    animation: expand 0.5s linear;
}

.empty-tile {
    background-color: black;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    transform: translate(25%, 25%);
}

.empty-tile:hover {
    -webkit-box-shadow: inset 0px 0px 5px darkgrey;
    box-shadow: inset 0px 0px 5px 5px darkgrey;
}

.first-player {
    border-radius: 100%;
    border: 3px solid black;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    background: radial-gradient(circle at 25px 25px, red, #000);
    transform: translate(25%, 25%);
}

.second-player {
    border-radius: 100%;
    border: 3px solid black;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    background: radial-gradient(circle at 25px 25px, yellow, #000);
    transform: translate(25%, 25%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Impact;
}
